﻿@using _0_FrameWork.Application
@using _0_FrameWork.Application
@using WebHost.Services
@model Afg.Azad.UnQuery.Contract.MenuDot
@inject IAuthHelper _authHelper;
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<div class="container py-10">
    <div class="row justify-between items-center">

        <div class="col-auto">
            <div class="header-left">
                <div class="header__logo ">
                    <a data-barba asp-page="/Index" >
                        <img src="~/Theme/img/general/logo.svg" alt="logo">
                    </a>
                </div>
            </div>
        </div>


        <div class="col-auto">
            <div class="header-right d-flex items-center">
                <div class="header-menu js-mobile-menu-toggle ">
                    <div class="header-menu__content">
                        <div class="mobile-bg js-mobile-bg"></div>
                        <div class="d-none xl:d-flex items-center px-20 py-20 border-bottom-light">
                            @if (!_authHelper.IsAuthenticated())
                            {
                                <a asp-page="/Login"  class="text-dark-1">Login</a>
                                <a asp-page="/Signup"  class="text-dark-1 mr-30">Sing Up</a>
                            }
                            else
                            {
                                <a asp-page="/UserPanel"  class="text-dark-1 mr-30">@_authHelper.CurrentAccountFullName()</a>

                            }
                        </div>

                        <div class="menu js-navList">
                            <ul class="menu__nav text-white -is-active">
                                <li>
                                    <a data-barba asp-page="/Index" >
                                        Home
                                    </a>
                                </li>

                                <li class="menu-item-has-children -has-mega-menu">
                                    <a data-barba href="#">Courses <i class="icon-chevron-left text-11 mr-10"></i></a>

                                    <div class="mega xl:d-none">
                                        <div class="mega__menu">
                                            <div class="row x-gap-40">
                                                @foreach (var item in Model.Courses)
                                                {
                                                    <div class="col">
                                                        <h4 class="text-17 fw-500 mb-20"><strong>@item.Title</strong></h4>
                                                        <ul class="mega__list">
                                                            @foreach (var sub2 in item.Sub)
                                                            {
                                                                <li><a data-barba  asp-page="/Courses" asp-route-SearchModel.SubGroupId="@sub2.Id">@sub2.Title</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                }

                                            </div>
                                            <div class="mega-banner bg-purple-1 ml-40">
                                                <div class="text-24 lh-15 text-white fw-700">
                                                    صد ها کورس با دسته بندی های مختلف<br>
                                                    <span class="text-green-1">در پوهنتون آزاد افغانستان</span>

                                                </div>
                                                <a asp-page="/Courses"  class="button -md -green-1 text-dark-1 fw-500 col-12">دیدن کورس ها</a>
                                            </div>
                                        </div>
                                    </div>

                                    <ul class="subnav d-none xl:d-block">
                                        <li class="menu__backButton js-nav-list-back">
                                            <a href="#"><i class="icon-chevron-right text-13 ml-10"></i> Courses</a>
                                        </li>

                                        @foreach (var course in Model.Courses)
                                        {
                                            <li class="menu-item-has-children">
                                                <a data-barba  asp-page="/Courses" asp-route-SerchModel.CategoryId="@course.Id"><strong>@course.Title</strong><div class="icon-chevron-left text-11"></div></a>

                                                <ul class="subnav">
                                                    @foreach (var item in course.Sub)
                                                    {
                                                        <li>
                                                            <a  asp-page="/Courses" asp-route-SerchModel.SubGroupId="@course.Id">@item.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        }

                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a data-barba href="#">Blog <i class="icon-chevron-left text-11 mr-10"></i></a>
                                    <ul class="subnav">
                                        <li class="menu__backButton js-nav-list-back">
                                            <a href="#"><i class="icon-chevron-right text-13 ml-10"></i> Blog</a>
                                        </li>
                                        @foreach (var blog in Model.ArticleCategories)
                                        {
                                            <li><a>@blog.Name</a></li>
                                        }

                                    </ul>
                                </li>

                                <li>
                                    <a data-barba  asp-page="/Quiz">Quiz</a>
                                </li>

                                <li>
                                    <a data-barba  asp-page="/News">News</a>
                                </li>

                                <li>
                                    <a data-barba  asp-page="/ContactUs">ContactUs</a>
                                </li>

                                <li>
                                    <a data-barba  asp-page="/AboutUs">AboutUs</a>
                                </li>

                                <li>
                                    <a permission="PermissionPlace.AdministrationHomepage" data-barba  asp-page="/Index" asp-area="Administration">پنل مدیریت</a>
                                </li>

                            </ul>
                        </div>

                        <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                            <div class="mobile-footer__number">
                                <div class="text-17 fw-500 text-dark-1">Mobile</div>
                                <div class="text-17 fw-500 text-purple-1">023*****</div>
                            </div>

                            <div class="lh-2 mt-10">
                                <div>Address</div>
                                <div>info@endark.com</div>
                            </div>

                            <div class="mobile-socials mt-10">

                                <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                    <i class="fa fa-instagram"></i>
                                </a>

                                <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                    <i class="fa fa-linkedin"></i>
                                </a>

                            </div>
                        </div>
                    </div>

                    <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                        <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                            <div class="icon-close text-dark-1 text-16"></div>
                        </div>
                    </div>

                    <div class="header-menu-bg"></div>
                </div>


                <div class="header-right__icons text-white d-flex items-center mr-30">


                    <div class="">
                       
                            <button class="d-flex items-center text-white" data-el-toggle=".js-search-toggle">
                                <i class="text-20 icon icon-search"></i>
                            </button>
                        <form method="get">
                            <div class="toggle-element js-search-toggle">
                                <div class="header-search pt-90 bg-white shadow-4">
                                    <div class="container">
                                        <div class="header-search__field">
                                            <div class="icon icon-search text-dark-1"></div>
                                            <input type="text" name="search" id="tags" class="col-12 text-18 lh-12 text-dark-1 fw-500" placeholder="SearchCourse">

                                            <button type="button" class="d-flex items-center justify-center size-40 rounded-full bg-purple-3" data-el-toggle=".js-search-toggle">
                                                <img src="~/Theme/img/menus/close.svg" alt="icon">
                                            </button>
                                        </div>

                                        <div class="header-search__content mt-30">
                                            <div class="d-flex y-gap-5 flex-column mt-20" id="contentSearch">
                                                <a id="tags1" class="text-dark-1"></a>
                                            </div>

                                            <div class="mt-30">
                                                <button id="submitSearch" asp-page="/Courses"  class="uppercase underline">SearchDes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-search__bg" data-el-toggle=".js-search-toggle"></div>
                            </div>
                        </form>
                    </div>

                </div>


                <div class="relative mr-30 xl:mr-20">
                    <div class="d-none xl:d-block mr-20">
                        <button class="text-white items-center" data-el-toggle=".js-mobile-menu-toggle">
                            <i class="text-11 icon icon-mobile-menu"></i>
                        </button>
                    </div>

                </div>

                <div class="header-right__buttons d-flex items-center mr-30 xl:mr-20 md:d-none">
                    @if (!_authHelper.IsAuthenticated())
                    {
                        <a  asp-page="/login" class="button -underline text-white">Login</a>
                        <a  asp-page="/Login" class="button px-25 h-50 -white text-dark-1 -rounded mr-30 xl:mr-20">SingUp</a>
                    }
                    else
                    {
                        <a  asp-page="/Index" asp-area="UserPanel" class="button px-25 h-50 -white text-dark-1 -rounded mr-30 xl:mr-20">@_authHelper.CurrentAccountFullName()</a>
                    }
                </div>
            </div>
        </div>

    </div>
</div>
