@page
@using _0_Framework.Application
@model WebHost.Pages.NewsModel
@inject IStringLocalizer<NewsModel> Localize
@{
    ViewData["Title"] = "News";
}


<div class="content-wrapper  js-content-wrapper">
    <section data-anim="fade" class="breadcrumbs ">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="breadcrumbs__content">

                        <div class="breadcrumbs__item ">
                            <a href="#">@Localize["Home"]</a>
                        </div>

                        <div class="breadcrumbs__item ">
                            <a href="#">@Localize["NewsList"]</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="page-header -type-1">
        <div class="container">
            <div class="page-header__content">
                <div class="row justify-center text-center">
                    <div class="col-auto">
                        <div data-anim="slide-up delay-1">

                            <h1 class="page-header__title">@Localize["NewsList"]</h1>

                        </div>

                        <div data-anim="slide-up delay-2">

                            <p class="page-header__text">@Localize["NewsListDes"]</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="layout-pt-sm layout-pb-lg">
        <div data-anim-wrap class="container">
            <div class="tabs -pills js-tabs">
              
                <div class="tabs__content pt-40 js-tabs-content">

                    <div class="tabs__pane -tab-item-1 is-active">
                        <div class="row y-gap-30">

                         @foreach (var item in Model.List.News)
                         {
                             <div data-anim-child="slide-up delay-4" class="col-lg-4 col-md-6">
                                 <a  asp-page="/NewsDetails" asp-route-id="@item.Slug" class="blogCard -type-1">
                                     <div class="blogCard__image">
                                         <img class="w-1/1 rounded-8" src="~/FileUploader/@item.Picture" title="@item.PictureTitle" alt="@item.PictureAtl">
                                     </div>
                                     <div class="blogCard__content mt-20">
                                         <div class="blogCard__category">@item.Title</div>
                                         <h4 class="blogCard__title text-17 lh-15 fw-500 mt-5">@item.ShortDescription</h4>
                                         <div class="blogCard__date text-14 mt-5">@item.CreationDate.ToShamsi()</div>
                                     </div>
                                 </a>
                             </div>
                         }

                        </div>

                        @if (Model.List.PageCount > 1)
                        {
                            <div class="row justify-center pt-60 lg:pt-40">
                                <div class="col-auto">
                                    <div class="pagination -buttons">
                                        <a href="News?PageId=@(Model.List.CurrentPage - 1)" class="pagination__button -prev @(Model.List.CurrentPage < 2 ? "disabled" : "")">
                                            <i class="icon icon-chevron-right"></i>
                                        </a>

                                        <div class="pagination__count">
                                            @for (int i = 1; i <= Model.List.PageCount; i++)
                                            {
                                                <a class="@(i == Model.List.CurrentPage ? "-count-is-active active" : "")" href="News?PageId=@i">@i</a>
                                            }
                                        </div>

                                        <a href="News?PageId=@(Model.List.CurrentPage + 1)" class="pagination__button -next @(Model.List.CurrentPage >= Model.List.PageCount ? "disabled" : "")">
                                            <i class="icon icon-chevron-left"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>