@using WebHost.Services
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Afg.Azad.UnQuery.Contract.MenuDot

<header data-anim="fade" data-add-bg="" class="header -base js-header">


    <div class="header__container py-10">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <div class="header-left">

                    <div class="header__logo ">
                        <a data-barba  asp-page="/Index">
                            <img src="~/Theme/img/general/logo.svg" alt="logo">
                        </a>
                    </div>

                </div>
            </div>


            <div class="col-auto">
                <div class="header-right d-flex items-center">

                    <div class="header-menu js-mobile-menu-toggle ">
                        <div class="header-menu__content">
                            <div class="mobile-bg js-mobile-bg"></div>

                            <div class="d-none xl:d-flex items-center px-20 py-20 border-bottom-light">
                                <a  asp-page="/login" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="text-dark-1">ورود</a>
                                <a  asp-page="/Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" class="text-dark-1 mr-30">ثبت نام</a>
                            </div>

                            <div class="menu js-navList">
                                <ul class="menu__nav text-dark-1 -is-active">
                                    <li>
                                        <a  asp-page="/Index"> Home </a>
                                    </li>
                                    <li class="menu-item-has-children -has-mega-menu">
                                        <a data-barba href="#">Courses <i class="icon-chevron-left text-11 mr-10"></i></a>


                                        <div class="mega xl:d-none">
                                            <div class="mega__menu">
                                                <div class="row x-gap-40">
                                                    @foreach (var item in Model.Courses)
                                                    {
                                                        <div class="col">
                                                            <h4 class="text-17 fw-500 mb-20">@item.Title</h4>

                                                            <ul class="mega__list">

                                                                @if (item.Sub.Any())
                                                                {
                                                                    @foreach (var sub in item.Sub)
                                                                    {
                                                                        <li><a data-barba  asp-page="/Courses" asp-route-SerchModel.SubGroupId="@sub.Id">@sub.Title</a></li>
                                                                    }
                                                                }

                                                            </ul>

                                                        </div>
                                                    }
                                                </div>

                                                <div class="mega-banner bg-purple-1 ml-40">
                                                    <div class="text-24 lh-15 text-white fw-700">
                                                        پیوستن به بیش از<br>
                                                        <span class="text-green-1">8 میلیون دانشجو</span>
                                                        در سراسر جهان
                                                    </div>
                                                    <a href="#" class="button -md -green-1 text-dark-1 fw-500 col-12">آموزش Free</a>
                                                </div>
                                            </div>
                                        </div>


                                        <ul class="subnav d-none xl:d-block">
                                            <li class="menu__backButton js-nav-list-back">
                                                <a href="#"><i class="icon-chevron-right text-13 ml-10"></i> Courses</a>
                                            </li>

                                            @foreach (var item in Model.Courses)
                                            {
                                                <li class="menu-item-has-children">
                                                    <a href="#">@item.Title<div class="icon-chevron-left text-11"></div></a>

                                                    @if (item.Sub.Any())
                                                    {
                                                        <ul class="subnav">
                                                            <li class="menu__backButton js-nav-list-back">
                                                                <a href="#"><i class="icon-chevron-right text-13 ml-10"></i> @item.Title</a>
                                                            </li>

                                                            @foreach (var sub in item.Sub)
                                                            {

                                                                <li><a data-barba  asp-page="/Courses" asp-route-SearchModel.SubGroupId="@sub.Id">@sub.Title</a></li>

                                                            }

                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    </li>

                                    <li class="menu-item-has-children">
                                        <a data-barba href="#">Blog <i class="icon-chevron-left text-11 mr-10"></i></a>
                                        <ul class="subnav">
                                            <li class="menu__backButton js-nav-list-back">
                                                <a href="#"><i class="icon-chevron-right text-13 ml-10"></i> Blog</a>
                                            </li>
                                            @foreach (var item in Model.ArticleCategories)
                                            {

                                                <li><a >@item.Name</a></li>

                                            }

                                        </ul>
                                    </li>
                                    <li>
                                        <a data-barba  asp-page="/ContactUs">ContactUs</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="mobile-footer px-20 py-20 border-top-light js-mobile-footer">
                                <div class="mobile-footer__number">
                                    <div class="text-17 fw-500 text-dark-1">ContactUs</div>
                                    <div class="text-17 fw-500 text-purple-1">+9320803343</div>
                                </div>

                                <div class="lh-2 mt-10">
                                    <div>کابل - شهر نو -کوچه...</div>
                                    <div>example@educrat.com</div>
                                </div>

                                <div class="mobile-socials mt-10">

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-twitter"></i>
                                    </a>

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-instagram"></i>
                                    </a>

                                    <a href="#" class="d-flex items-center justify-center rounded-full size-40">
                                        <i class="fa fa-linkedin"></i>
                                    </a>

                                </div>
                            </div>
                        </div>

                        <div class="header-menu-close" data-el-toggle=".js-mobile-menu-toggle">
                            <div class="size-40 d-flex items-center justify-center rounded-full bg-white">
                                <div class="icon-close text-dark-1 text-16"></div>
                            </div>
                        </div>

                        <div class="header-menu-bg"></div>
                    </div>


                    <div class="mr-30">

                        <div class="d-none xl:d-block mr-20">
                            <button class="text-dark-1 items-center" data-el-toggle=".js-mobile-menu-toggle">
                                <i class="text-11 icon icon-mobile-menu"></i>
                            </button>
                        </div>

                    </div>

                    <div class="header-right__buttons md:d-none">
                        <a  asp-page="/Login" class="button -sm -rounded -dark-1 text-white">SignUp</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>
