@model List<Shop.Management.Application.Contract.CourseGroup.CourseGroupViewModel>
@inject IStringLocalizer<IndexModel> localizer
@{
    var culture = System.Globalization.CultureInfo.CurrentCulture.Name;
}
<section class="layout-pt-lg layout-pb-lg">
    <div class="container">
        <div class="row justify-center text-center">
            <div class="col-auto">
                <div class="sectionTitle ">
                    <h2 class="sectionTitle__title ">
                        @localizer["TopCategories"]
                    </h2>
                    <p class="sectionTitle__text ">@localizer["TopCategoriesDes"]</p>
                </div>
            </div>
        </div>
        <div class="row y-gap-30 pt-50">
            <div class="col-lg-6">
                <div class="row y-gap-30">

                    @foreach (var item in Model.Where(x=>string.IsNullOrWhiteSpace(x.SinglePicture)).Take(4))
                    {
                        <div class="col-md-6">
                            <div class="categoryCard -type-1">
                                <div class="categoryCard__image">
                                    <div class="bg-image ratio ratio-30:16 js-lazy" data-bg="/FileUploader/@item.Picture"></div>
                                </div>

                                <div class="categoryCard__content text-center">
                                    <h4 class="categoryCard__title text-17 lh-15 fw-500 text-white">@item.Title</h4>
                                    <div class="categoryCard__subtitle text-13 text-white lh-2 mt-5">@item.CourseCount+ @localizer["Course"] </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
            @if (Model.Any(x => !string.IsNullOrWhiteSpace(x.SinglePicture)))
            {
                @foreach (var item in Model.Where(x => !string.IsNullOrWhiteSpace(x.SinglePicture)).Take(1))
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="row y-gap-30">
                            <div class="col-12">
                                <div class="categoryCard -type-1">
                                    <div class="categoryCard__image">
                                        <div class="bg-image ratio ratio-30:35 js-lazy" data-bg="/FileUploader/@item.SinglePicture"></div>
                                    </div>
                                    <div class="categoryCard__content text-center">
                                        <h4 class="categoryCard__title text-17 lh-15 fw-500 text-white">@item.Title</h4>
                                        <div class="categoryCard__subtitle text-13 text-white lh-2 mt-5">@item.CourseCount+ @localizer["Course"] </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            <div class="col-lg-3 col-md-6">
                <div class="row y-gap-30">
                    @foreach (var item in Model.Where(x => string.IsNullOrWhiteSpace(x.SinglePicture)).Skip(4).Take(2))
                    {
                        <div class="col-lg-12">
                            <div class="categoryCard -type-1">
                                <div class="categoryCard__image">
                                    <div class="bg-image ratio ratio-30:16 js-lazy" data-bg="/FileUploader/@item.Picture" title="@item.Title" alt="@item.Title"></div>
                                </div>
                                <div class="categoryCard__content text-center">
                                    <h4 class="categoryCard__title text-17 lh-15 fw-500 text-white">@item.Title</h4>
                                    <div class="categoryCard__subtitle text-13 text-white lh-2 mt-5">@item.CourseCount+ @localizer["Course"] </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
